{% extends "baseAll.html" %}
  
  
{% block content %}


<div class=row>
        <div class=span2></div>

        <div class=span8>
  <h1 class="page-header">主治医师研讨班</h1> 
        
<p>主治医师讨论班，我们只讨论主治医师考试相关内容</p>
<p>&nbsp;</p>
<p>我们旨在研究与讨论如何成为一名合格的主治医师</p>
<p>我们无私奉献，只为求患者的康复</p>
<p>我们不求回报，只为每一位医师快乐成长</p>


<p>网站所有信息均来源于书本知识、开放网络、同事及群友交流‘,并无偿使用于主治医师讨论小组内部的交流，

如有侵权，请与讨论小组组长联系，我们一定会与您满意答复</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




  </div><!--span8-->
  </div><!--row-->

{% endblock%} </p>
