{% extends "baseAll.html" %}
  
  
{% block content %}


<div class=row>
        <div class=span2></div>

        <div class=span8>
  <h1 class="page-header">主治医师研讨班</h1> 
        
<p>主治医师讨论班，我们只讨论主治医师考试相关内容</p>
<p>&nbsp;</p>
  <h3 class="page-header">关于我们</h3> 
  <p>我们是一群热爱医学甘愿为医学奉献的医生</p>
  QQ交流群：156355878


  <p>
如有侵权，请与讨论小组组长联系，我们一定会与您满意答复</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




  </div><!--span8-->
  </div><!--row-->

{% endblock%} </p>
