<!DOCTYPE html>
<html>
<head>
<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/bootstrap/js/jquery.js"></script>
<script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>主治医师研讨班</title>
<style>
body{background-color:#CCC}
.container{background-color:#FFF}
.container-fluid{background-color:#FFF}

/*加星收藏样式，此处为未点亮时星星样式 主要是background-position*/
.star_icon 
{background:url('/static/img/star.png');margin-bottom:-7px;width: 18px;height: 18px;display: inline-block; background-size: 18px auto;}

/*收藏时点亮星星样式*/
.star_icon.favorite{background-position:0 -19px;}

</style>
</head>
<body> 

<div class=container> 
{% include 'nvabar.html' %}

{%block content%} {%endblock%} 

{% include 'footer.html' %}
</div> 

</body>
</html>
