{% extends "baseAll.html" %}
  
  
{% block content %}


<div class=row>
        <div class=span2></div>

        <div class=span8>


  <h1 class="page-header">如何提高权限</h1> 

<p>所有用户都按照权限管理，权限从低到高</p>
<ul>
    <li>
    0级-游客：只可以浏览前50题，并没有讨论权限
    </li>
    <li>
    1级-新注册用户：没有邮箱认证用户，只可以浏览前50题，不可以参加讨论
    </li>
    <li>
    2级-邮箱验证用户：可以浏览所有题目，可以浏览前2000题，可以参加讨论
    </li>
    <li>
    3级-积分大于50用户：可以有浏览记录，可以有收藏题目记录
    </li>
    <li>
    4级-积分大于100用户：可以自由搜索所有题目
    </li>
</ul>

  <h1 class="page-header">如何增加积分</h1> 

<p>积分由日常操作过程中获得，积分用于提升权限</p>
<ul>
    <li>
    0.反映网站的问题，如果您的意见确有助于改善网站质量，将增加10积分
    </li>
    <li>
    1.在每题后讨论，如果有另一成员对你的论点点赞，你将增加1积分
    </li>
    <li>
    2.在每题后讨论，如果有另一成员对你的论点吐槽，你将减少1积分
    </li>
    <li>
    3.在每讨论后点击举报违规讨论，如果对方确有违规，您将增加1积分，对方减少10积分
    </li>
    <li>
    4.讨论违规被举报，您将减少10积分
    </li>
    <li>
    5.讨论违规被举报，您将减少10积分
    </li>
    <li>
    6.反复违规超过3次的小组成员，将被禁止登录
    </li>
</ul>

  <h1 class="page-header">什么样的行为叫违规</h1> 

<p>营造良好的学习氛围，杜绝学习以外的话题,以下情况视为违规</p>
<ul>
    <li>
    1.讨论与主治医师考试以外无关的话题
    </li>
    <li>
    2.对其他人进行人身攻击，辱骂等有损医德的行为
    </li>
    <li>
    3.在讨论中发布广告者
    </li>
    <li>
    4.通过作弊获得积分的行为，如有查出，直接扣除所有积分
    </li>
</ul>

  <h1 class="page-header">其它问题</h1> 
  <ol>
      <li>
      <p>在手机uc浏览器中点击查看答案及解析按钮无效</p>
      如果你使用的是手机移动网络而非wifi时可能会出现这样的情况，<br>
      原因是uc浏览器默认打开了云端加速功能，导致网页解析不全<br>
      关闭手机UC浏览器的--云端加速功能--即可解决问题<br>
      这是UC的一个bug
      </li>
  </ol>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


  </div><!--span8-->
  </div><!--row-->

{% endblock%} </p>
