{% extends "baseAll.html" %}
  
  
{% block content %}


<div class=row>
        <div class=span2></div>

        <div class=span8>
  <h1 class="page-header">主治医师研讨班</h1> 
        
<br>
<br>
<br>

<p>主治医师讨论班，我们只讨论主治医师考试相关内容</p>
<p>&nbsp;</p>
<p>希望在这里，共同研究、学习如何成为一名入门的主治医师</p>
<p>目前我们只提供外科主治医师的讨论</p>
<p>所有讨论仅限于本讨论小组内部成员参考、学习，如有出错之处，请自行鉴别</p>
<p>赶快行动注册吧。</p>
<p>主治医师考试交流小组QQ群:156355878</p>

<p><a href="/help">请仔细阅读相关的网站帮助信息</help></p>

<br>
<br>
<br>
<br>
<br>
<br>
  </div><!--span8-->
  </div><!--row-->

{% endblock%} </p>
