    <div  class="navbar">
    <div  class="navbar-inner" >
        <a class="brand">主治医师研讨班</a>

        <ul class="nav">
            <li ><a href="/">首页</a> </li>
            <li><a href="/showQuestion">进入题库</a> </li>
            <li><a href="/">反映意见</a> </li>
        </ul>
            
        <ul class="nav pull-right">
            <li ><p class="navbar-text">欢迎您：<a href="/user_info">{{user.username}}</a></p></li>
            <li class="divider-vertical"></li>
            {%if not user.degree %} 
                <li> <a href="/login">登录</a> </li>
                <li> <a href="/reg">注册</a> </li>
            {%else%} 
                <li> <a href="/logout">退出</a> </li>
            {%endif%}
        </ul>
    </div>
    </div>

